/* Fonts */

@font-face {
  font-family: "Space Grotesk Light";
}

@font-face {
  font-family: "Space Grotesk Regular";
}

@font-face {
  font-family: "Space Grotesk Medium";
}

@font-face {
  font-family: "Space Grotesk Semi Bold";
}

@font-face {
  font-family: "Space Grotesk Bold";
}
